.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2.5rem auto;
  gap: 10px;
  width: 80%;
}

.input {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-right: 10px;
  background-color: #202331;
  color: #fff;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.input:focus {
  border-color: #4a90e2;
  background-color: #1a1c28;
}

.inputAuthor {
  flex: 0.5;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-right: 10px;
  background-color: #202331;
  color: #fff;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.inputAuthor:focus {
  border-color: #4a90e2;
  background-color: #1a1c28;
}

.button {
  background-color: #4a90e2;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #367bbd;
}

.button:active {
  transform: translateY(2px);
}

@media only screen and (max-device-width: 430px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .input,
  .inputAuthor {
    width: 80%;
    padding: 12px;
    margin-top: 8px;
  }

  .button {
    width: 80%;
    margin-top: 8px;
    padding: 12px;
  }
}
