.main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Crimson Text', serif;
}

.p {
  font-size: 1.4rem;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #202331;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.0rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2.5rem;
}

.bottomRightLink {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 6px;
  position: absolute;
  padding: 20px;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.bottomRightLink a {
  color: gray;
  text-decoration: none;
  font-weight: bold;
  /* Additional styling as per your design requirements */
}

@media screen and (max-device-width: 430px)  {
  .main {
    width: 85vw;
    margin: 0 auto;
  }

  .title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}